@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import "reset.css";
@import "variables.css";

/* Components 여러개 중복해서 사용할 수 있는 것들.*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens 딱 그 page만 구성하는 것들*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: #2e363e;
}

.main-screen {
  padding: 10px var(--horizontal-space);
}
