/* main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main__img {
  width: 210px;
  height: 210px;
  box-shadow: 0px 4px 10px 1px #8c9bac;
}

.main__title {
  margin: 55px 0px 20px 0px;
  font-size: 24px;
  font-weight: 800;
}

.main__singer {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 800;
}

/* volumn */
.volumn__bar {
  width: 300px;
  outline: none;
}
