/* font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;900&display=swap");
@import "reset.css";
@import "frame-right.css";
@import "frame-left.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
