.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 25px 10px 25px;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
