.footer > h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 30px;
}

.footer__frame {
  display: flex;
}

.footer__img > img {
  width: 200px;
  height: 260px;
  margin: 22px 22px 22px 25px;
}

.footer__box {
  margin: 35px 10px;
}

.footer__article {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.1em;
  margin-top: 8px;
}

.footer__aricle--p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
}
