.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
  background-color: #ffce33;
  font-size: 20px;
  width: 100%;
  font-size: 20px;
  font-weight: 1000;
}

.search-bar {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 12px 0px;
  border-radius: 30px;
  margin: 0px 30px;
  transform: translateY(-30px);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
}

.search-bar__form {
  width: 100%;
  margin: 0px 20px;
}

.search-bar__input {
  width: 90%;
  border: none;
  margin: 0px 0px 0px 8px;
  border-radius: 20px;
  padding: 2px;
  font-size: 20px;
}

.search-bar__form,
.search-bar__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
